body{
    font-family: calibri;
    background-color: #123;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header{
    background-color: #123;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    width: 100%;
    justify-content: right;
    background-color: #720a0a;
}

header img{
    margin: 10px;
    height: 50px;
}

.navitem{
    padding: 10px;
    transition: 0.2s;
}

.navitem a{
    color: #fff;
    text-decoration: none;
}

.navitem:hover{
    background-color:chocolate;
}

.hero{
    overflow: hidden;
}

.hero h1{
    z-index: 10;
}

.hero img{
    width: 100%;
    z-index: 4;
}
